[submodule "external/lipidontology"]
	path = external/lipidontology
	url = https://github.com/martijnmolenaar/LION-web.git
[submodule "external/lipidlynxx"]
	path = external/lipidlynxx
	url = https://github.com/SysMedOs/LipidLynxX.git