name: Publishing

on:
  release:
    types: [created, edited]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/lipidlibrarian
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: false
          fetch-depth: 0

      - name: install python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: build
        run: |
          make build

      - name: publish
        if: startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
